@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.oxoa-calendar-plus-o:before {
	content: "\f271";
}
.oxoa-calendar-check-o:before {
	content: "\f274";
}
.oxoa-logo:before {
	content: "\e639";
}
.oxoa-footer:before {
	content: "\e637";
}
.oxoa-page_title:before {
	content: "\e636";
}
.oxoa-loop-alt2:before {
	content: "\e62e";
}
.oxoa-anchor:before {
	content: "\e62f";
}
.oxoa-columns:before {
	content: "\e600";
}
.oxoa-file-alt:before {
	content: "\e601";
}
.oxoa-copy:before {
	content: "\e602";
}
.oxoa-exclamation-sign:before {
	content: "\e603";
}
.oxoa-blog:before {
	content: "\e604";
}
.oxoa-check-empty:before {
	content: "\e605";
}
.oxoa-list-ul:before {
	content: "\e606";
}
.oxoa-users:before {
	content: "\e612";
}
.oxoa-newspaper:before {
	content: "\e613";
}
.oxoa-clock:before {
	content: "\e614";
}
.oxoa-browser:before {
	content: "\e615";
}
.oxoa-d:before {
	content: "\e61d";
}
.oxoa-air:before {
	content: "\e616";
}
.oxoa-map:before {
	content: "\e617";
}
.oxoa-flag:before {
	content: "\e608";
}
.oxoa-move-horizontal:before {
	content: "\e61e";
}
.oxoa-uniF6CC:before {
	content: "\e61f";
}
.oxoa-image:before {
	content: "\e620";
}
.oxoa-images:before {
	content: "\e621";
}
.oxoa-uniF602:before {
	content: "\e622";
}
.oxoa-stack:before {
	content: "\e623";
}
.oxoa-user:before {
	content: "\e618";
}
.oxoa-dollar:before {
	content: "\e609";
}
.oxoa-tasks:before {
	content: "\e60a";
}
.oxoa-feather:before {
	content: "\e619";
}
.oxoa-uniF61C:before {
	content: "\e624";
}
.oxoa-insertpicture:before {
	content: "\e625";
}
.oxoa-link:before {
	content: "\e61b";
}
.oxoa-soundcloud:before {
	content: "\e61c";
}
.oxoa-table:before {
	content: "\e60b";
}
.oxoa-folder:before {
	content: "\e62b";
}
.oxoa-list-alt:before {
	content: "\e60c";
}
.oxoa-bubbles:before {
	content: "\e626";
}
.oxoa-font:before {
	content: "\e627";
}
.oxoa-H:before {
	content: "\e628";
}
.oxoa-expand-alt:before {
	content: "\e60d";
}
.oxoa-hand-up:before {
	content: "\e60e";
}
.oxoa-film:before {
	content: "\e60f";
}
.oxoa-star-empty:before {
	content: "\e610";
}
.oxoa-shopping-cart:before {
	content: "\e611";
}
.oxoa-share2:before {
	content: "\e629";
}
.oxoa-layers-alt:before {
	content: "\e62a";
}
.oxoa-minus:before {
	content: "\e61a";
}
.oxoa-TF icon:before {
	content: "\e62d";
}
.oxoa-youtube:before {
	content: "\e607";
}
.oxoa-vimeo2:before {
	content: "\e62c";
}
.oxoa-sidebar:before {
	content: "\e634";
}
.oxoa-header:before {
	content: "\e635";
}
.oxoa-tag:before {
	content: "\e632";
}
.oxoa-pointer:before {
	content: "\e630";
}
.oxoa-external-link:before {
	content: "\f08e";
}
.oxoa-external-link-square:before {
	content: "\f14c";
}
.oxoa-file:before {
	content: "\e633";
}
.oxoa-ellipsis:before {
	content: "\e631";
}
.oxoa-tools:before {
	content: "\e63b";
}
.oxoa-pin-outline:before {
	content: "\e63f";
}
.oxoa-sitewidth:before {
	content: "\e63a";
}
.oxoa-search:before {
	content: "\f002";
}
.oxoa-envelope-o:before {
	content: "\f003";
}
.oxoa-plus:before {
	content: "\f067";
}
.oxoa-social media:before {
	content: "\f08a";
}
.oxoa-menu:before {
	content: "\f0c9";
}
.oxoa-code:before {
	content: "\f121";
}
.oxoa-css3:before {
	content: "\f13c";
}
.oxoa-equalizer:before {
	content: "\e638";
}
.oxoa-loop:before {
	content: "\e63c";
}
.oxoa-droplet:before {
	content: "\e63d";
}
.oxoa-drive:before {
	content: "\e63e";
}
.oxoa-pen:before {
	content: "\e640";
}
.oxoa-file-add:before {
	content: "\e641";
}
.oxoa-trash-o:before {
	content: "\f014";
}
.oxoa-reply:before {
	content: "\e642";
}
.oxoa-forward:before {
	content: "\e643";
}
.oxoa-plus2:before {
	content: "\e645";
}
.oxoa-dashboard:before {
	content: "\e286";
}
